.garant {
    display: block;
    text-align: center;
    color: $colorblack;
    font-size: 36px;
    line-height: 1.16;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
  }
  
  .titles {
    font-weight: 400; 
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    /* margin-top: 0;
    margin-bottom: 0; */
    /* margin-top: 10px; */
    margin-bottom: 10px;
    color: $colortext;
    
  }
  
.nav-lin {
  
  display: flex;
  padding-left: 0;
  margin-left: 32px;
  align-items: center;
   
    .social {
  display: block;
  display: flex;
  margin-right: 10px;
  /* padding-inline-start: 0; */
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: transparent;
  align-items: center;
  text-align: center;
  padding-left: 12px;
  padding-top:6px ;
  &:last-child {
    margin-right: 0;
  }
  &:hover, &:focus{
    --color3:#ffffff;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $colorblu;
    transition-duration:250ms;
  }
}}



.soc{
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;}


